body {
    background-image: url(sbg.jpg);
    /*background-repeat:no-repeat;*/
    background-size:cover;
    background-origin:content-box;
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: centre;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #ffffff;
}


.submit-section {
    width: 80%;
    text-align: center;
    margin-top: 20px;
}

.button1 {
    opacity: 0;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ff8c00;
    color: rgb(33, 8, 8);
    border:none;
    cursor: pointer;
    border-radius: 10px;
    animation: dropIn 1s ease-out forwards, wiggle 2s linear infinite;
    animation-delay: 0.5s, 20s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: #18ee22;
}

@keyframes dropIn {
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}


.t1-container {
    padding-top: 200px;
    padding-left: 450px;
    position: relative;
    height: 300px;
    width: 150%;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 100px;
    height: 100px;
    display: flex;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: #f4fa92;
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19) ;
    transition: background-color 0.3s ease-in-out;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 43, 136);
}

#container-wrapper {
    display: flex;
    flex-wrap: wrap;
}